@font-face {
  font-family: "retro";
  /*MAKE SURE YOUR SLASH IS / NOT \!!!!!*/
  src: url("/Birthday-Card/Fonts/silkscreen/slkscr.ttf") format("truetype");
}
img {
  width: 20rem;
}
h1 {
  font-family: "retro";
  color: red;
}
body {
  text-align: center;
  font-family: retro;
  background: aliceblue;
  color: blueviolet;
}
