@font-face {
  font-family: "retro";
  /*MAKE SURE YOUR SLASH IS / NOT \!!!!!*/
  src: url("/Birthday-Card/Fonts/PixelOperator8-Bold.ttf") format("truetype");
}
img {
  width: 20rem;
}
h1 {
  font-family: "retro";
  color: red;
}
body {
  text-align: center;
  font-family: "retro";
  background: aliceblue;
  color: rgb(84, 34, 130);
}

.banner{
  display: block;
  width: 100%;
  max-width: 800px;
  align-content: center;
}