{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Boo {% endblock %}</title>
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav>
      <a href="/">
        home <span role="img" aria-label="smiley face">(●'◡'●)</span>
      </a> |
      <a href="/about">
        about <span role="img" aria-label="kitty">ᓚᘏᗢ</span>
      </a> |
      <a href="{% url 'cards:list' %}">
        cards <span role="img" aria-label="about to fight face">(ง •_•)ง</span>
      </a> |
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
